*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  background-color: #000;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#mobile-switch-button-checked {
  display: none;
}
#mobile-switch-button-checked:checked + .container .container::after {
  width: 100%;
  height: 50px;
  background-color: white;
}
#mobile-switch-button-checked:checked + .container .mobile-switch-button .open-icon {
  display: none;
}
#mobile-switch-button-checked:checked + .container .mobile-switch-button .close-icon {
  display: inline;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header .container {
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu ul {
  display: flex;
}
.header .menu ul li {
  text-align: center;
  margin-right: 40px;
  font-weight: 600;
}
.header .menu ul li:last-child {
  margin-right: 0;
}
.header .menu ul li:hover {
  color: blue;
}
.header .menu ul .en {
  font-size: 10px;
}
.header .menu ul .tw {
  font-size: 20px;
}
.header .mobile-switch-button {
  font-size: 2.4rem;
  display: none;
}

.wrap {
  height: 200vh;
}

.footer {
  background-color: #fff;
  height: 160px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-1 {
  height: 100vh;
  background-image: url(../images/banner.jpeg);
  background-size: cover;
  position: relative;
}

.page-1 .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308);
  z-index: 1;
}

.page-1 .container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.page-1 .box {
  width: 100%;
  display: flex;
  background: rgba(14, 50, 80, 0.9);
  padding: 20px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.page-1 .box > div {
  flex-basis: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.page-1 .box > div:first-child {
  /* border-right: 1px dashed #fff;
  height: 200px;
  margin-right: 20px; */
  position: relative;
  min-height: 200px;
}

.page-1 .box > div:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  border: 2px dashed #fff;
}

.page-1 .box .box-content {
  line-height: 30px;
  margin-top: 50px;
}

.page-1 .box .box-content.left {
  padding-left: 20px;
  padding-right: 40px;
}

.page-1 .box .box-content.right {
  padding-right: 20px;
  padding-left: 40px;
}

.slogan {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.slogan::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: calc(50% - 140px);
  /* left: 50%; */
  /* margin-left: -140px; */
  width: 0;
  height: 3px;
  border-left: 100px solid #1072c2;
  border-right: 180px solid #fff;
}

.form-control {
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.3rem;
}

.input-group {
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}

.input-icon {
  font-size: 1.8rem;
  color: #3b3b3b;
  position: absolute;
  top: 11px;
  left: 10px;
}

.button {
  padding: 10px 20px;
  background: #1072c2;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
.button:hover {
  background-color: rgb(65, 175, 244);
}

.page-2 {
  background: url(../images/process.jpeg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.page-2 .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308);
  z-index: 1;
}

.page-2 .slogan {
  color: #fff;
}

.page-2 .container {
  position: relative;
  z-index: 2;
}

.flow .item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flow .item::after {
  content: "";
  height: 100%;
  width: 0;
  border: 4px dashed #000;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -4px;
}

.flow .item .content {
  padding: 10px;
  background-color: red;
  color: #fff;
  position: absolute;
  left: 50%;
  margin-left: 60px;
  z-index: 2;
}

.flow .item .circle {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: red;
  position: absolute;
  z-index: 2;
}

.flow .item:nth-child(even) .content {
  right: 50%;
  left: unset;
  margin-right: 60px;
  margin-left: unset;
  text-align: right;
}

.flow .item:nth-child(2n+1) .circle {
  background-color: blue;
}

@media screen and (max-width: 800px) {
  .header .container .menu {
    display: none;
  }
  .header .container .mobile-switch-button {
    display: block;
  }
  .header .container .mobile-switch-button .open-icon {
    display: inline;
    cursor: pointer;
  }
  .header .container .mobile-switch-button .close-icon {
    display: none;
    cursor: pointer;
  }

  .page-1 .container .box {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .page-1 .container .box > div::after {
    top: unset;
    right: unset;
    bottom: -20px;
    left: 0;
    height: 0;
    width: 100%;
  }

  .page-2 .flow .item {
    justify-content: flex-start;
  }
  .page-2 .flow .item:nth-child(even) .content {
    right: unset;
    margin-right: unset;
    left: 20%;
    margin-left: 60px;
    text-align: unset;
  }
  .page-2 .flow .item::after {
    left: 57px;
  }
  .page-2 .flow .item .circle {
    left: 45px;
  }
  .page-2 .flow .item .content {
    left: 20%;
  }

  #mobile-switch-button-checked:checked + .container .menu {
    display: block;
    position: fixed;
    width: 100%;
    top: 75px;
    left: 0;
    background-color: #fff;
    height: 100vh;
    padding-top: 80px;
  }
  #mobile-switch-button-checked:checked + .container .menu ul {
    flex-direction: column;
  }
  #mobile-switch-button-checked:checked + .container .menu ul li {
    margin-right: 0;
    padding-top: 30px;
  }
}/*# sourceMappingURL=landing_scss.css.map */